.auth-container{
display:flex;
min-height:100vh;
background: linear-gradient(135deg, #0f172a, #020617);
}

/* left side */
.auth-left{
flex:1;
/* background:linear-gradient(135deg,#0f172a,#020617); */
color:white;
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
gap:20px;
}

.logo{
font-size:28px;
font-weight:700;
}

.features{
margin-top:20px;
}

.features li{
margin-bottom:10px;
}

.rating{
margin-top:20px;
opacity:0.8;
}

/* right side */
.auth-right{
flex:1;
display:flex;
align-items:center;
justify-content:center;
    padding-right: 101px;
/* background:#f5f5f5; */
}

.signup-form{
background:white;
padding:40px;
border-radius:10px;
width:320px;
display:flex;
flex-direction:column;
gap:12px;
}

.signup-form input{
padding:10px;
border-radius:6px;
border:1px solid #ddd;
}

.checkbox{
font-size:12px;
}

.signup-form button{
margin-top:10px;
padding:10px;
border:none;
background:#0cc8a8;
color:white;
border-radius:6px;
cursor:pointer;
}

.social-login{
margin-top:20px;
display:flex;
flex-direction:row;
justify-content: space-evenly;
gap:10px;
}

.social-btn{
display:flex;
align-items:center;
gap:10px;
justify-content:center;
padding:10px;
border-radius:8px;
border:1px solid #ddd;
background:white;
cursor:pointer;
}